.card-modal-form {
  padding: 10px 10px;
}

.title-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-description {
  margin-bottom: 10px;
}

.card-users {
  padding: 20px 0;
  width: 65%;
}

.card-users-title {
  font-family: 'roboto';
  margin-bottom: 12px;
}

.users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title-textfield {
  width: 500px;
}

.description-textfield {
  width: 100%;
}