#user-modal-form {
    width: 100%;
}

.modal-error-message {
    margin: 100px 0;
}

.first-name-and-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 10px;
}

.firstname-input {
    width: 100%;
    margin: 30px 0;
}

.user-modal-input {
    width: 100%;
    margin: 10px 0;
}

.confirm-button {
    margin-top: 20px;
    display: flex;
}

.country-png {
    width: 25px;
    height: 15px;
    margin-right: 10px;
}